package html

type LandingProps struct{}

templ Landing(props *LandingProps) {
	<div class="flex flex-row flex-1 min-h-0">
		<div id="box" class="flex-start bg-green-500 w-5 h-5"></div>
	</div>
	<script src="/static/js/landing.js" defer></script>
}
